aiohttp
aiosignal
async-timeout
attrs
blinker
Brotli
certifi
charset-normalizer
click
cryptg
Flask
frozenlist
gunicorn
hachoir
idna
itsdangerous
Jinja2
MarkupSafe
multidict
mutagen
Pillow
pyaes
pyasn1
pycryptodomex
python-dotenv
requests
rsa
Telethon
urllib3
websockets
Werkzeug
yarl
yt-dlp
